<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <title>API</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <h1 class="title">weather app</h1>
    <div class="wrapper-list">
      <div class="left-list">
            <button class="city-button" type="button">Download city list</button>
                    <div id="city"></div>
      </div>
      <div class="right-list">
                <div class="weather"></div>
      </div>
    </div>

    <script src="js/jquery-3.2.1.js"></script>
    <script src="js/weather.js"></script>
</body>
</html>